# API Verification Report
Generated: 2025-11-06T12:46:11.587Z

## Buffer
❌ **class Buffer** - Missing in Node.js

## crypto
✅ **createCipheriv** - Present
✅ **createCipheriv** - Present
✅ **createDecipheriv** - Present
✅ **createDecipheriv** - Present
✅ **createDiffieHellman** - Present
✅ **createDiffieHellman** - Present
✅ **createDiffieHellman** - Present
✅ **createDiffieHellman** - Present
✅ **createDiffieHellman** - Present
✅ **createECDH** - Present
✅ **createHash** - Present
✅ **createHmac** - Present
✅ **createHmac** - Present
✅ **createPrivateKey** - Present
✅ **createPrivateKey** - Present
✅ **createPublicKey** - Present
✅ **createPublicKey** - Present
✅ **createPublicKey** - Present
✅ **createSecretKey** - Present
✅ **createSecretKey** - Present
✅ **createSign** - Present
✅ **createVerify** - Present
✅ **generateKey** - Present
✅ **generateKey** - Present
✅ **generateKeyPair** - Present
✅ **generateKeyPairSync** - Present
✅ **getCiphers** - Present
✅ **getCurves** - Present
❌ **getDefaultCipherList** - Missing in Node.js
✅ **getDiffieHellman** - Present
✅ **getFips** - Present
✅ **getHashes** - Present
✅ **hash** - Present
✅ **hkdf** - Present
✅ **hkdfSync** - Present
✅ **pbkdf2** - Present
✅ **pbkdf2Sync** - Present
✅ **pbkdf2Sync** - Present
✅ **privateDecrypt** - Present
✅ **privateDecrypt** - Present
✅ **privateEncrypt** - Present
✅ **privateEncrypt** - Present
✅ **publicDecrypt** - Present
✅ **publicDecrypt** - Present
✅ **publicEncrypt** - Present
✅ **publicEncrypt** - Present
✅ **randomBytes** - Present
✅ **randomBytes** - Present
✅ **randomFill** - Present
✅ **randomFillSync** - Present
✅ **randomInt** - Present
✅ **randomInt** - Present
✅ **randomUUID** - Present
✅ **scrypt** - Present
✅ **scryptSync** - Present
✅ **scryptSync** - Present
❌ **setDefaultEncoding** - Missing in Node.js
✅ **setFips** - Present
✅ **sign** - Present
✅ **sign** - Present
✅ **timingSafeEqual** - Present
✅ **verify** - Present
✅ **verify** - Present

## fs
✅ **access** - Present
✅ **accessSync** - Present
✅ **appendFile** - Present
✅ **appendFileSync** - Present
✅ **chmod** - Present
✅ **chmodSync** - Present
✅ **close** - Present
✅ **closeSync** - Present
✅ **copyFile** - Present
✅ **copyFileSync** - Present
✅ **cp** - Present
✅ **cpSync** - Present
✅ **existsSync** - Present
✅ **fstat** - Present
✅ **fstatSync** - Present
✅ **mkdir** - Present
✅ **mkdirSync** - Present
✅ **open** - Present
✅ **openSync** - Present
✅ **read** - Present
✅ **readFile** - Present
❌ **readFileBytes** - Missing in Node.js
✅ **readFileSync** - Present
❌ **readFileSyncBytes** - Missing in Node.js
✅ **readSync** - Present
✅ **readdir** - Present
✅ **readdirSync** - Present
✅ **readlink** - Present
✅ **readlinkSync** - Present
✅ **realpath** - Present
✅ **realpathSync** - Present
✅ **rename** - Present
✅ **renameSync** - Present
✅ **rm** - Present
✅ **rmSync** - Present
✅ **rmdir** - Present
✅ **rmdirSync** - Present
✅ **stat** - Present
❌ **statSync** - Missing in Node.js
✅ **symlink** - Present
✅ **symlinkSync** - Present
✅ **truncate** - Present
✅ **truncateSync** - Present
✅ **unlink** - Present
✅ **unlinkSync** - Present
✅ **write** - Present
✅ **write** - Present
✅ **writeFile** - Present
❌ **writeFileBytes** - Missing in Node.js
✅ **writeFileSync** - Present
❌ **writeFileSyncBytes** - Missing in Node.js
✅ **writeSync** - Present
✅ **writeSync** - Present

## path
❌ **basename** - Missing in Node.js
❌ **dirname** - Missing in Node.js
❌ **extname** - Missing in Node.js
❌ **format** - Missing in Node.js
❌ **isAbsolute** - Missing in Node.js
❌ **join** - Missing in Node.js
❌ **matchesGlob** - Missing in Node.js
❌ **normalize** - Missing in Node.js
❌ **parse** - Missing in Node.js
❌ **relative** - Missing in Node.js
❌ **resolve** - Missing in Node.js
❌ **toNamespacedPath** - Missing in Node.js
